<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="logdir">./src/test/resources/logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="File" 
		fileName="${logdir}/HRMlogs.log" 
		filePattern="${logdir}/HRMlogs-%d{yyyy-MM-dd}_%d{HH-mm-ss-SSS}.log" 
		ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd}-%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="1 MB" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="testcase" level="info" additivity="false">
			<AppenderRef ref="File" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>